.bitmap__car {
  width: 1440px;
  height: 200px;
  background: url(../images/Bitmap__about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bitmap__car .about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bitmap__car .about__flex h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  /* identical to box height, or 100% */
  letter-spacing: -2.5px;
  margin-top: 70px;
  margin-left: 70px;
  color: #FFFFFF;
}
.bitmap__car .about__flex img {
  margin-top: 70px;
}
.bitmap__car .girl__tele {
  width: 445px;
  height: 445px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/girl__telep.png);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.bitmap__car .girl {
  width: 445px;
  height: 445px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/girl.png);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.bitmap__car .girl .girl__left {
  background: #FCB72B;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 734.38px;
  height: 114.37px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.bitmap__car .use {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  width: 80%;
  color: #495567;
}
.bitmap__car .riding {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  font-weight: 400;
  font-size: 15px;
  color: #939CAA;
}

.learn__section1 {
  display: flex;
  justify-content: space-around;
  margin: 50px 50px;
}

.girl__tele {
  width: 445px;
  height: 445px;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/girl__telep.png);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.girl__tele .girl__left {
  background: #FCB72B;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 734.38px;
  height: 114.37px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.use1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  width: 45%;
  margin-top: 130px;
  margin-left: 250px;
  color: #495567;
}

.use2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  width: 80%;
  margin-top: 130px;
  color: #495567;
}

.riding1 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  width: 45%;
  margin-top: 30px;
  margin-left: 250px;
  font-weight: 400;
  font-size: 15px;
  color: #939CAA;
}

.riding2 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* or 167% */
  width: 90%;
  font-weight: 400;
  font-size: 15px;
  color: #939CAA;
}

.metro {
  width: 445px;
  height: 445px;
  margin-bottom: 150px;
  margin-left: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/poezd.png);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}
.metro .girl__left {
  background: #FCB72B;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 734.38px;
  height: 114.37px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.flex-value {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flex-value .our {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.iphone {
  width: 300px;
  height: 300px;
  left: 103px;
  top: 1679px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-image: url(../images/iphone.svg);
}

.mot {
  width: 300px;
  height: 300px;
  left: 103px;
  top: 1679px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-image: url(../images/motosikl.svg);
}

.community {
  width: 300px;
  height: 300px;
  left: 103px;
  top: 1679px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-image: url(../images/community.svg);
}

.con-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.con-card .das {
  width: 100px;
}

.con {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 30px;
}
.con .con-card {
  width: 30%;
  margin: 30px 30px;
}
.con h3 {
  font-family: "Space Mono";
  margin: 20px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}
.con p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  width: 80%;
  /* or 167% */
  text-align: center;
  color: #939CAA;
}

.faq__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 20px;
}

.FAQs {
  display: flex;
  justify-content: space-around;
}
.FAQs .safe {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.FAQs .safe h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height, or 120% */
  letter-spacing: -1.78571px;
  margin: 40px;
  color: #495567;
}

.flex-faq {
  width: 70%;
  margin-bottom: 100px;
}/*# sourceMappingURL=about.css.map */